## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Georgetown,MY,5.4112,100.3354,82.89,77.99,84,20,5.01,moderate rain
1,1,Omsukchan,RU,62.5333,155.8000,41.18,41.18,78,100,5.64,overcast clouds
2,2,Sao Filipe,CV,14.8961,-24.4956,76.89,76.89,83,17,13.56,few clouds
3,3,Impfondo,CG,1.6381,18.0667,69.73,69.73,99,97,1.72,moderate rain
4,4,Bengkulu,ID,-3.8004,102.2655,80.04,80.04,71,99,1.34,overcast clouds

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 80

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Description
2,2,Sao Filipe,CV,14.8961,-24.4956,76.89,76.89,83,17,13.56,few clouds
3,3,Impfondo,CG,1.6381,18.0667,69.73,69.73,99,97,1.72,moderate rain
6,6,Atuona,PF,-9.8000,-139.0333,77.16,77.16,71,0,16.08,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,72.75,72.75,75,35,5.50,scattered clouds
11,11,Tutoia,BR,-2.7619,-42.2744,78.55,78.55,82,32,13.20,scattered clouds
14,14,Buta,CD,2.7858,24.7300,68.59,68.59,99,100,1.43,overcast clouds
22,22,Osoyoos,CA,49.0331,-119.4524,75.96,73.81,33,54,2.30,broken clouds
27,27,Abu Samrah,SY,35.3029,37.1841,71.73,71.73,53,0,6.13,clear sky
30,30,Cayenne,GF,4.9333,-52.3333,77.04,77.04,88,0,1.14,clear sky
44,44,Lamar,US,33.6668,-95.5836,73.31,67.89,57,0,4.61,clear sky

In [25]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        229
City           229
Country        229
Lat            229
Lng            229
Max Temp       229
Min Temp       229
Humidity       229
Cloudiness     229
Wind Speed     229
Description    229
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Description
2,2,Sao Filipe,CV,14.8961,-24.4956,76.89,76.89,83,17,13.56,few clouds
3,3,Impfondo,CG,1.6381,18.0667,69.73,69.73,99,97,1.72,moderate rain
6,6,Atuona,PF,-9.8000,-139.0333,77.16,77.16,71,0,16.08,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,72.75,72.75,75,35,5.50,scattered clouds
11,11,Tutoia,BR,-2.7619,-42.2744,78.55,78.55,82,32,13.20,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
696,696,Xunchang,CN,28.4543,104.7150,79.41,79.41,67,79,0.83,broken clouds
697,697,Marsala,IT,37.7966,12.4352,75.94,70.90,73,0,4.61,clear sky
698,698,Price,US,39.5994,-110.8107,77.11,76.26,14,0,5.75,clear sky
703,703,Cascais,PT,38.6979,-9.4215,71.51,67.05,80,100,11.99,light rain
704,704,Yamada,JP,39.4667,141.9500,75.42,75.42,75,100,8.03,overcast clouds

In [39]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
2,Sao Filipe,CV,76.89,14.8961,-24.4956,few clouds,
3,Impfondo,CG,69.73,1.6381,18.0667,moderate rain,
6,Atuona,PF,77.16,-9.8000,-139.0333,clear sky,
8,Rikitea,PF,72.75,-23.1203,-134.9692,scattered clouds,
11,Tutoia,BR,78.55,-2.7619,-42.2744,scattered clouds,
14,Buta,CD,68.59,2.7858,24.7300,overcast clouds,
22,Osoyoos,CA,75.96,49.0331,-119.4524,broken clouds,
27,Abu Samrah,SY,71.73,35.3029,37.1841,clear sky,
30,Cayenne,GF,77.04,4.9333,-52.3333,clear sky,
44,Lamar,US,73.31,33.6668,-95.5836,clear sky,

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
import numpy as np

In [42]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

hotel_df.dropna(subset=['Hotel Name'], inplace=True)

hotel_df.count()

City           207
Country        207
Max Temp       207
Lat            207
Lng            207
Description    207
Hotel Name     207
dtype: int64

In [43]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [2]:
hotel_df=pd.read_csv("WeatherPy_vacation.csv")

In [3]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City, Country</dt><dd>{City}, {Country}</dd>
<dt>Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}°F</dd> 
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))